<launch>
  <!-- <node pkg="usb_cam" type="usb_cam_node" name="usb_cam"> -->
  <!--   <rosparam subst_value="true"> -->
  <!--     video_device: /dev/video2 -->
  <!--   </rosparam> -->
  <!-- </node> -->
  
  <!-- <include file="$(find pr2_fingertip_sensors)/launch/pfs.launch" /> -->

  <include file="$(find pr2_fingertip_sensors)/launch/touch_detection.launch" />

  <include file="$(find pr2_fingertip_sensors)/launch/force_detection.launch" />

  <node name="hand_pose_server" pkg="pr2_fingertip_sensors"
        type="hand_pose_server.py" output="screen" />

  <node name="predict_grip_state" pkg="pr2_fingertip_sensors"
        type="predict_grip_state.py" output="screen" />
  
</launch>
