<launch>
  <group ns="pfs">
    <group ns="r_gripper"> 

      <group ns="r_fingertip">
        <include file="$(find pr2_fingertip_sensors)/launch/touch_detection_fingertip.launch" >
          <arg name="fingertip" value="r_fingertip" />
        </include>
      </group>
 
      <group ns="l_fingertip">
        <include file="$(find pr2_fingertip_sensors)/launch/touch_detection_fingertip.launch" >
          <arg name="fingertip" value="l_fingertip" />
        </include>
      </group>

  <!-- <node name="proximity_derivative_02" pkg="pr2_fingertip_sensors" -->
  <!--       type="proximity_derivative.py" > -->
  <!--   <param name="ea" value="0.3" /> -->
  <!-- </node> -->

  <!-- <node name="proximity_derivative_05" pkg="pr2_fingertip_sensors" -->
  <!--       type="proximity_derivative.py" > -->
  <!--   <param name="ea" value="0.5" /> -->
  <!-- </node> -->

  <!-- <node name="proximity_derivative_08" pkg="pr2_fingertip_sensors" -->
  <!--       type="proximity_derivative.py" > -->
  <!--   <param name="ea" value="0.8" /> -->
  <!-- </node> -->
</group>
</group>
</launch>  
